{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://service.socure.com"
    },
    {
      "description": "Sandbox",
      "url": "https://sandbox.socure.com"
    }
  ],
  "info": {
    "title": "Socure API Reference",
    "version": "latest",
    "description": "\nThe Socure ID+ identity verification solution is a real-time, predictive\nanalytics platform that provides identity verification and fraud prediction\nthrough a single, modular REST API.\n\n\n# Authentication\n\n\nAll API requests must include an ID+ key and Content-Type in the header. See\n[ID+ Endpoint](/docs/apis/endpoints/idplus-endpoint) for\nmore information.\n\n\n```\n\nAuthorization: SocureApiKey a1b234cd-5678-9e01-f234-56abcdef6789\n\nContent-Type: application/json\n\n```\n\n\n## Content-Type\n\n\nThe Content-Type identifies the type of content submitted in the request\nbody.\n\n\n<table>\n  <tr>\n    <th>Endpoint</th>\n    <th>Content-Type</th>\n  </tr>\n  <tr>\n    <td>ID+</td>\n    <td><code>application/json</code></td>\n  </tr>\n  <tr>\n    <td>Predictive Document Verification</td>\n    <td><code>multipart/form-data</code></td>\n  </tr>\n  <tr>\n    <td>Reason Code</td>\n    <td><code>application/json</code></td>\n  </tr>\n</table>\n\n\n# Rate Limits\n\n\nSocure limits the number of requests that can be sent to the API to 10\ntransactions per second for each ID+ key. To increase rate limits for your\naccount, contact [Technical Support](/support).\n\n\n# Errors\n\n\nHTTP status codes indicate the success or failure of an API request. If a\nrequest fails, the API returns a message with information about the error\nalong with the appropriate status code. See [Error Messages in\nID+](/docs/apis/error-codes) for more information.\n\n\n> \nError messages are intended for debug purposes only and should not be exposed to customers.\n\n\n```\n\n{\n  \"status\": \"Error\",\n  \"referenceId\": \"81cf9bf1-b5ab-4271-bf92-8809ee1bf8d6\",\n  \"data\": {\n    \"parameters\": [\n      \"Missing required parameters for module: FraudScore\"\n    ]\n  },\n  \"msg\": \"Invalid request. Please check for missing required parameters and resubmit the transaction. \"\n}\n\n```\n",
    "x-logo": {
      "url": "/imgs/socure-logo.png",
      "altText": "Socure Logo"
    }
  },
  "tags": [
    {
      "name": "ID+",
      "description": "ID+ is the primary endpoint of the Socure API. The ``modules`` parameter\nin the request body determines which ID+ services are called. See [ID+\nModules](/docs/idplus/modules/products-overview) for more information.\n"
    },
    {
      "name": "Predictive Document Verification",
      "description": "Predictive Document Verification enables you to confirm the authenticity of a wide\nrange of government-issued identification cards, including Driver's\nLicenses, Passports, Visas, and other official documents.\n\n\nThe Predictive Document Verification service requires two API calls. The first call\nuploads an image of an ID to the Document Upload endpoint. The API returns\na UUID for the transaction. The second call is made to the ID+ endpoint.\nIn this call, you include the ``documentverification`` module and UUID for\nthe transaction. The API returns a recommendation if the document is\nauthentic. See [Predictive Document\nVerification](/docs/idplus/modules/docv/docv-overview) for more information.\n\n\nYou can also use the Image Request endpoint to retrieve a zip file\ncontaining the images of the uploaded ID. See [Image Request\nEndpoint](/docs/apis/endpoints/image-request-endpoint) for more\ninformation.\n"
    },
    {
      "name": "Reason Code",
      "description": "Reason Codes are a series of alphanumeric codes returned by the ID+ endpoint that help explain what predictors were used to determine a score. See [Reason Codes in ID+](/docs/idplus/reason-codes) for more information.\n"
    },
    {
      "name": "Transaction Details",
      "description": "The Transaction Details API allows you to use the reference ID \nof a previous transaction to view response data. See \n[Transaction Details Endpoint](/docs/apis/endpoints/transaction-details-endpoint) for more information.\n\n **Note**: The Transaction Details API is only available in the Certification and Production environments. API calls to the Sandbox enivronment will fail.\n"
    },
    {
      "name": "Feedback",
      "description": "The Feedback API allows you to send labeled transaction data in real-time. This information \nshould be sent for all ID+ transactions when the following occurs:\n\n* The moment final application decisions are made.\n* The moment account status changes on the Fraud Outcome or Delinquency buckets.\n\nSee [Feedback Overview](/docs/idplus/feedback/feedback-overview)\nfor more information.\n"
    },
    {
      "name": "Events",
      "description": "The Events API allows you to manage webhook events for Global Watchlist and DocV Web SDK transactions. Use the \nAPI to do the following:\n\n* Enable/disable monitoring for a Global Watchlist transaction.\n* Suppress/unsupress Global Watchlist entity matches.\n* Retrieve the monitoring status for a Global Watchlist transaction.\n* Retrieve a list of actively monitored Global Watchlist transactions.\n* Retrieve snapshot details for a Global Watchlist or DocV Web SDK transaction.\n* Add a webhook secret key.\n\n**Note**: Use the `/api/3.0/events` endpoint in the Sandbox environment to test the following operations:\n- Enable/disable monitoring of a Global Watchlist transaction.\n- Suppress/unsupress Global Watchlist entity matches.\n- Retrieve the monitoring status for a Global Watchlist transaction.\n- Retrieve a list of actively monitored Global Watchlist transactions.\n- Retrieve snapshot details of a Global Watchlist.\n"
    },
    {
      "name": "Webhooks",
      "description": "Webhooks allow you to receive real-time notifications when an event occurs. Details about the event are sent via \na HTTP `POST` request to the URL you specify. \n\nWhen you receive a new event, you must return a `200` HTTP status code. If you do not send a `200` response, Socure \nwill attempt to redeliver the event. After five failed attempts over two days, the event delivery is marked as a \nfailure and the webhook is disabled.\n\n **Note**: For auto-enrolled transactions, we will attempt to redeliver the notification until it is successfully received.\n\nSee [Webhooks Overview](/docs/webhooks/overview) for more information.\n"
    }
  ],
  "paths": {
    "/api/3.0/EmailAuthScore": {
      "post": {
        "operationId": "ID+",
        "summary": "Create a transaction",
        "description": "Creates a transaction using one or more ID+ modules.",
        "tags": [
          "ID+"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "title": "Account Intelligence",
                    "type": "object",
                    "required": [
                      "modules",
                      "payments",
                      "accountNumber",
                      "routingNumber",
                      "inquiries"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n> **Note**: You must specify the inquiry request type for Account Intelligence in the `inquiries` field. The inquiry type will determine which other fields are required.\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "accountintelligence"
                          ]
                        }
                      },
                      "firstName": {
                        "description": "The consumer’s first name. \n> **Note**: \n> - The following special characters are not supported: ^±!@£$%&*_+¡€#¢§¶•ªº«<>?\\\\/:;|=\n> - This field is required for `OWNERSHIP` inquiries of a consumer account. \n",
                        "type": "string",
                        "example": "John",
                        "maxLength": 240
                      },
                      "surName": {
                        "type": "string",
                        "description": "The consumer’s last name. Required for `OWNERSHIP` inquries.\n> **Note**:  \n> - The following special characters are not supported: ^±!@£$%&*_+¡€#¢§¶•ªº«<>?\\\\/:;|=\n> - This field is required for `OWNERSHIP` inquiries of a consumer account. \n",
                        "example": "Smith",
                        "maxLength": 240
                      },
                      "businessName": {
                        "description": "The business entity name. \n> **Note**: \n> - The following special characters are not supported: ^±!@£$%&*_+¡€#¢§¶•ªº«<>?\\\\/:;|=\n> - This field is required for `OWNERSHIP` if `firstName` and `surName` are not provided. \n",
                        "type": "string",
                        "example": "Enron",
                        "maxLength": 87
                      },
                      "physicalAddress": {
                        "type": "string",
                        "description": "The first line of the consumer or business's address.\n",
                        "example": "123 Example Street"
                      },
                      "physicalAddress2": {
                        "type": "string",
                        "example": "Apt. 5",
                        "description": "An optional second line for the address.\n"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city where the consumer or business resides.\n",
                        "example": "New York"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state, province, or region where the consumer or business resides, specified in ISO 3166-2 format.\n",
                        "example": "New York",
                        "minLength": 2,
                        "maxLength": 2
                      },
                      "country": {
                        "type": "string",
                        "description": "The country where the consumer or business resides, specified in ISO 3166-1 alpha-2 format.\n",
                        "example": "NY",
                        "minLength": 2,
                        "maxLength": 2
                      },
                      "nationalId": {
                        "type": "string",
                        "description": "The consumer's nine digit Social Security number (SSN) or Individual Tax Identification Number. The last four digits of the SSN are also accepted. Hyphens are optional.\n",
                        "example": "123-45-6789"
                      },
                      "ein": {
                        "type": "string",
                        "description": "Employer Identification Number (EIN) value used to idenitfy a business entity. Recommended when `businessName` is present. \n",
                        "example": "00-0000000",
                        "maxLength": 9
                      },
                      "mobileNumber": {
                        "type": "string",
                        "description": "The consumer or business's phone number in E.164 format. Hyphens are optional. A mobile phone number is preferred.\n",
                        "example": "+13475550100",
                        "maxLength": 16
                      },
                      "dob": {
                        "type": "string",
                        "example": "1979-05-07",
                        "format": "YYYY-MM-DD, YYYYMMDD, YYYY/MM/DD",
                        "description": "The consumer's date of birth.\n"
                      },
                      "payments": {
                        "description": "The bank account information associated with the transaction. \n",
                        "type": "object",
                        "required": [
                          "account"
                        ],
                        "properties": {
                          "account": {
                            "title": "Account",
                            "type": "object",
                            "description": "The bank account information and inquiry types associated with the transaction. \n",
                            "required": [
                              "accountNumber",
                              "routingNumber",
                              "inquiries"
                            ],
                            "properties": {
                              "accountNumber": {
                                "type": "string",
                                "example": 123456789000120,
                                "description": "The account number for which account validations are being performed. \n",
                                "maxLength": 17,
                                "minLength": 4
                              },
                              "routingNumber": {
                                "type": "string",
                                "example": 123456789,
                                "description": "The account routing number for which account validations are being performed.  \n",
                                "maxLength": 9,
                                "minLength": 9
                              },
                              "inquiries": {
                                "type": "string",
                                "description": "The inquiry type. Below are the possible values. \n- `STATUS`: Used to confirm a bank account status. \n- `OWNERSHIP`: Used to verify a bank account ownership. \n",
                                "enum": [
                                  "STATUS",
                                  "OWNERSHIP"
                                ],
                                "example": [
                                  "STATUS",
                                  "OWNERSHIP"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  {
                    "title": "Address Risk",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName",
                      "physicalAddress",
                      "country"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: In addition to the required parameters, you must also include at least \none of the following sets of conditional parameters in the request.\n> 1. `city`, `state`\n> 2. `zip`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "addressrisk"
                          ]
                        }
                      },
                      "firstName": {
                        "description": "The consumer’s first name.\n> **Note**: The following special characters are not supported: ^±!@£$%&*_+¡€#¢§¶•ªº«<>?\\\\/:;|=\n",
                        "type": "string",
                        "example": "John",
                        "maxLength": 240
                      },
                      "surName": {
                        "type": "string",
                        "description": "The consumer’s last name.\n> **Note**: The following special characters are not supported: ^±!@£$%&*_+¡€#¢§¶•ªº«<>?\\\\/:;|=\n",
                        "example": "Smith",
                        "maxLength": 240
                      },
                      "physicalAddress": {
                        "type": "string",
                        "example": "123 Example Street",
                        "description": "The first line of the consumer's address.\n"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "type": "string",
                        "example": "New York",
                        "description": "The city where the consumer resides.\n"
                      },
                      "state": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 2,
                        "example": "NY",
                        "description": "The state, province, or region where the consumer resides, specified in ISO 3166-2 format.\n"
                      },
                      "zip": {
                        "type": "string",
                        "example": "10001",
                        "description": "The consumer's five or nine digit ZIP code in valid postal address format. Hyphens are optional.\n"
                      },
                      "country": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 2,
                        "description": "The country where the consumer resides, specified in ISO 3166-1 alpha-2 format.\n",
                        "example": "us"
                      },
                      "shippingDetails": {
                        "type": "object",
                        "description": "Shipping details for the transaction.\n",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "maxLength": 240,
                            "description": "The shipping recipient's first name.\n",
                            "example": "David"
                          },
                          "surName": {
                            "type": "string",
                            "maxLength": 240,
                            "description": "The shipping recipient's last name.\n",
                            "example": "Johnson"
                          },
                          "phone": {
                            "type": "string",
                            "maxLength": 14,
                            "description": "The shipping recipient's phone number in E.164 format. \nA mobile phone number is preferred.\n",
                            "example": "+1-201-555-1234"
                          },
                          "email": {
                            "type": "string",
                            "description": "The shipping recipient's email address.\n",
                            "example": "david.johnson@example.com"
                          }
                        }
                      }
                    }
                  },
                  {
                    "title": "Alert List",
                    "type": "object",
                    "required": [
                      "modules"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: In addition to the `modules` array, you must also include at least \none of the following parameters in the request.\n> 1. `nationalId`\n> 2. `email`\n> 3. `mobileNumber`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "alertlist"
                          ]
                        }
                      },
                      "nationalId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/nationalId"
                      },
                      "email": {
                        "type": "string",
                        "description": "The consumer's email address.\n",
                        "example": "j.smith@example.com"
                      },
                      "mobileNumber": {
                        "type": "string",
                        "example": "+13475550100",
                        "description": "The consumer’s phone number in E.164 format. Hyphens are optional. A mobile phone number is preferred.\n",
                        "maxLength": 16
                      }
                    }
                  },
                  {
                    "title": "Decision",
                    "type": "object",
                    "required": [
                      "modules"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: ID+ returns a decision only when additional modules are included in the request.\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "decision"
                          ]
                        }
                      }
                    }
                  },
                  {
                    "title": "Predictive Document Verification",
                    "type": "object",
                    "required": [
                      "modules",
                      "documentUuid"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "documentverification"
                          ]
                        }
                      },
                      "documentUuid": {
                        "type": "string",
                        "description": "Predictive Document Verification only. Enter the UUID received when submitting the\ndocument images.\n",
                        "example": "78d1c86d-03a3-4e11-b837-71a31cb44142"
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      },
                      "driverLicense": {
                        "type": "string",
                        "description": "The driver license identification number.",
                        "example": "000000000"
                      },
                      "driverLicenseState": {
                        "type": "string",
                        "description": "The two letter postal code of the issuing state.",
                        "example": "NY"
                      }
                    }
                  },
                  {
                    "title": "eCBSV",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName",
                      "dob",
                      "nationalId",
                      "userConsent"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ecbsv"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "type": "string",
                        "description": "The consumer's nine digit Social Security number. Hyphens are optional.\n",
                        "example": "123-45-6789"
                      },
                      "ipAddress": {
                        "type": "string",
                        "description": "The consumer's IP address in IPv4 decimal or IPv6 hexadecimal format.\n",
                        "example": "1.2.3.4"
                      },
                      "userConsent": {
                        "$ref": "#/paths/~1api~13.0~1events/post/requestBody/content/application~1json/schema/oneOf/0/properties/userConsent"
                      },
                      "consentTimestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the consumer provided consent. If no value is provided, defaults to the current timestamp of the transaction.\n",
                        "example": "2020-09-13T23:11:12.000Z"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      }
                    }
                  },
                  {
                    "title": "Email Risk",
                    "type": "object",
                    "required": [
                      "modules",
                      "email"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: To receive the email correlation value in the response, \ninclude the following parameters in the request.\n> - `firstName`\n> - `surName`\n> - `country`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "emailrisk"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "email": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/email"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      }
                    }
                  },
                  {
                    "title": "Socure Verify",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName",
                      "country"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: In addition to the required parameters, you must also include at least \none of the following sets of conditional parameters in the request.      \n> 1. `nationalId`\n> 2. `dob`\n> 3. `physicalAddress`, `city`, `state`, `zip`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "kyc"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/nationalId"
                      },
                      "email": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/email"
                      },
                      "mobileNumber": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/mobileNumber"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      },
                      "userConsent": {
                        "type": "boolean",
                        "description": "Indicates if the consumer has provided consent.\n> **Note**: `userConsent` is required and must be set to true when implicitly calling eCBSV with the `kyc` module.\n",
                        "example": true
                      },
                      "consentTimestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the user provided consent. If no value is provided, defaults to \nthe current timestamp of the transaction.\n> **Note**: `consentTimestamp` should only be sent when implicitly calling eCBSV with \nthe `kyc` module.\n",
                        "example": "2020-09-13T23:11:12.000Z"
                      }
                    }
                  },
                  {
                    "title": "Socure Verify Plus",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName",
                      "physicalAddress",
                      "nationalId",
                      "country"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: In addition to the required parameters, you must also include at least \none of the following sets of conditional parameters in the request.      \n> 1. `city`, `state`\n> 2. `zip`\n> 3. `dob`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "kycplus"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/nationalId"
                      },
                      "email": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/email"
                      },
                      "mobileNumber": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/mobileNumber"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      },
                      "userConsent": {
                        "type": "boolean",
                        "description": "Indicates if the consumer has provided consent.\n> **Note**: `userConsent` is required and must be set to true when implicitly calling eCBSV with the `kycplus` module.\n",
                        "example": true
                      },
                      "consentTimestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date and time when the user provided consent. If no value is provided, defaults to \nthe current timestamp of the transaction.\n> **Note**: `consentTimestamp` should only be sent when implicitly calling eCBSV with \nthe `kycplus` module.\n",
                        "example": "2020-09-13T23:11:12.000Z"
                      }
                    }
                  },
                  {
                    "title": "Phone Risk",
                    "type": "object",
                    "required": [
                      "modules",
                      "mobileNumber",
                      "country"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: To receive the phone correlation value in the response, \ninclude the following parameters in the request.\n> - `firstName`\n> - `surName`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "phonerisk"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "mobileNumber": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/mobileNumber"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      },
                      "ipAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/5/properties/ipAddress"
                      }
                    }
                  },
                  {
                    "title": "Prefill",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName",
                      "nationalId"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: In addition to the required parameters, you must also include at least\none of the following sets of conditional parameters in the request.\n> 1. `dob`\n> 2. `physicalAddress`, `city`, `state`\n> 3. `physicalAddress`, `zip`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "prefill"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "type": "string",
                        "description": "The full nine or last four digits of the consumer's SSN. The last four digits is recommended. Hyphens are optional.\n",
                        "example": 1234
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      }
                    }
                  },
                  {
                    "title": "Device Risk",
                    "type": "object",
                    "required": [
                      "modules",
                      "deviceSessionId"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "devicerisk"
                          ]
                        }
                      },
                      "deviceSessionId": {
                        "type": "string",
                        "maxLength": 220,
                        "description": "The session ID retrieved from the consumer's browser.\n",
                        "example": "placeholder"
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "email": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/email"
                      },
                      "mobileNumber": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/mobileNumber"
                      },
                      "username": {
                        "type": "string",
                        "description": "The username associated with a consumer's account.",
                        "example": "johnsmith1979"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      },
                      "ipAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/5/properties/ipAddress"
                      }
                    }
                  },
                  {
                    "title": "Sigma Identity Fraud",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName",
                      "country"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: In addition to the required parameters, you must also include at least \none of the following sets of conditional parameters in the request.\n> 1. `email`\n> 2. `mobileNumber`\n> 3. `physicalAddress`, `zip`\n> 4. `physicalAddress`, `city`, `zip`\n> 5. `physicalAddress`, `state`, `zip`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "fraud"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/nationalId"
                      },
                      "email": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/email"
                      },
                      "mobileNumber": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/mobileNumber"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      },
                      "addresses": {
                        "title": "Addresses",
                        "description": "The addresses associated with a transaction. Each address must be a unique type. Up to three addresses are allowed.\n",
                        "type": "array",
                        "items": {
                          "required": [
                            "city",
                            "state",
                            "postalCode",
                            "country",
                            "type"
                          ],
                          "type": "object",
                          "properties": {
                            "line1": {
                              "example": "456 First Example Street",
                              "type": "string",
                              "description": "The first line of the address.\n"
                            },
                            "line2": {
                              "example": "APT 5",
                              "type": "string",
                              "description": "An optional second line for the address.\n"
                            },
                            "city": {
                              "example": "Albuquerque",
                              "type": "string",
                              "description": "The city in which the address is located.\n"
                            },
                            "state": {
                              "minLength": 2,
                              "maxLength": 2,
                              "type": "string",
                              "example": "NM",
                              "description": "The state, province, or region in which the address is located, specified in ISO 3166-2 format.\n"
                            },
                            "postalCode": {
                              "type": "number",
                              "example": "07122",
                              "description": "The five or nine digit ZIP code in valid postal address format. Hyphens are optional.\n"
                            },
                            "country": {
                              "minLength": 2,
                              "maxLength": 2,
                              "type": "string",
                              "example": "US",
                              "description": "The country in which the address is located, specified in ISO 3166-1 alpha-2 format.\n"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "billing",
                                "shipping",
                                "store"
                              ],
                              "description": "The address type.\n"
                            }
                          }
                        },
                        "additionalProperties": false
                      },
                      "companyName": {
                        "type": "string",
                        "description": "The name of the consumer's employer.\n",
                        "example": "Corporation Corp, LLC."
                      },
                      "ipAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/5/properties/ipAddress"
                      },
                      "payments": {
                        "title": "Payments",
                        "type": "object",
                        "description": "Money transfer details for the transaction.\n",
                        "required": [
                          "recipientCountry",
                          "paymentType",
                          "disbursementType"
                        ],
                        "properties": {
                          "recipientCountry": {
                            "minLength": 2,
                            "maxLength": 2,
                            "type": "string",
                            "example": "US",
                            "description": "The country where the recipient of the money transfer resides, specified in ISO 3166-1 alpha-2 format.\n"
                          },
                          "paymentType": {
                            "type": "string",
                            "enum": [
                              "ach",
                              "card",
                              "slice_it_by_card",
                              "pay_later_by_card",
                              "base_account",
                              "deferred_interest",
                              "fixed_amount",
                              "fixed_sum_credit",
                              "invoice"
                            ],
                            "example": "ach",
                            "description": "The payment type."
                          },
                          "disbursementType": {
                            "type": "string",
                            "enum": [
                              "billpay",
                              "delivery",
                              "deposit",
                              "pickup",
                              "reload"
                            ],
                            "example": "billpay",
                            "description": "The disbursement type."
                          }
                        }
                      },
                      "merchantDetails": {
                        "type": "object",
                        "description": "Merchant details for the transaction.\n",
                        "properties": {
                          "id": {
                            "type": "string",
                            "maxLength": 7,
                            "description": "A unique identifier for the merchant.\n",
                            "example": 1234567
                          },
                          "category": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "A free-form text field for merchant category information.\n",
                            "example": "Shoes, Clothing"
                          }
                        }
                      },
                      "shippingDetails": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/shippingDetails"
                      },
                      "orderChannel": {
                        "type": "string",
                        "description": "The channel through which the order was submitted.",
                        "enum": [
                          "digital",
                          "retail",
                          "browser_extension",
                          "ecommerce",
                          "in-store",
                          "telesales"
                        ],
                        "example": "digital"
                      },
                      "orderAmount": {
                        "type": "number",
                        "format": "double",
                        "description": "The total amount of the order.\n",
                        "example": 1234.56
                      },
                      "submissionDate": {
                        "type": "string",
                        "format": "YYYY-MM-DD, YYYYMMDD, YYYY/MM/DD",
                        "description": "The date on which the order was submitted.\n",
                        "example": 20181220
                      },
                      "prevOrderCount": {
                        "type": "number",
                        "description": "The total number of orders previously submitted by the account.\n",
                        "example": 10
                      },
                      "prevUnpaidOrderCount": {
                        "type": "integer",
                        "description": "The number of orders for which the account still owes money.\n",
                        "example": 12
                      },
                      "lastOrderDate": {
                        "type": "string",
                        "format": "YYYY-MM-DD, YYYYMMDD, YYYY/MM/DD",
                        "description": "The date on which the most recent order was submitted.\n> **Note:** If there are no previous orders, set the value to `null`.\n",
                        "example": 20170417
                      },
                      "accountCreationDate": {
                        "type": "string",
                        "format": "YYYY-MM-DD, YYYYMMDD, YYYY/MM/DD",
                        "description": "The date on which the account was created.\n",
                        "example": 20100422
                      },
                      "customerUserId": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "The client-specified reference ID for the transaction.\n",
                        "example": 129
                      },
                      "userId": {
                        "type": "string",
                        "description": "The consumer's username, if allowed such an identifier in your application or service.\n",
                        "example": "johnsmith1979"
                      },
                      "geocode": {
                        "type": "string",
                        "description": "The geolocation where the consumer currently resides, specified in ISO 6709 format.\n",
                        "example": "40.755688, -74.045986"
                      },
                      "previousReferenceId": {
                        "type": "string",
                        "maxLength": 36,
                        "description": "The `referenceId` of a previous ID+ transaction. Allows you to link multiple transactions together.",
                        "example": "e9c170f2-b3e4-423b-a373-5d6e1e9b23f8"
                      }
                    }
                  },
                  {
                    "title": "Sigma Synthetic",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName",
                      "country"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.\n\n> **Note**: In addition to the required parameters, you must also include at least \none of the following sets of conditional parameters in the request.\n> 1. `email`\n> 2. `mobileNumber`\n> 3. `nationalId`\n> 4. `dob`\n> 5. `physicalAddress`, `zip`\n> 6. `physicalAddress`, `city`, `state`\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "synthetic"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/nationalId"
                      },
                      "email": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/email"
                      },
                      "mobileNumber": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/mobileNumber"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      },
                      "addresses": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/addresses"
                      },
                      "companyName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/companyName"
                      },
                      "ipAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/5/properties/ipAddress"
                      },
                      "payments": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/payments"
                      },
                      "orderChannel": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/orderChannel"
                      },
                      "orderAmount": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/orderAmount"
                      },
                      "submissionDate": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/submissionDate"
                      },
                      "prevOrderCount": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/prevOrderCount"
                      },
                      "lastOrderDate": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/lastOrderDate"
                      },
                      "accountCreationDate": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/accountCreationDate"
                      },
                      "customerUserId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/customerUserId"
                      },
                      "userId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/userId"
                      },
                      "geocode": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/geocode"
                      },
                      "previousReferenceId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/12/properties/previousReferenceId"
                      }
                    }
                  },
                  {
                    "title": "Social",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName",
                      "email"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module. \n> **Note**: The `social` module has been deprecated and is no longer supported.\n",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "social"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "email": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/2/properties/email"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      }
                    }
                  },
                  {
                    "title": "Global Watchlist Standard",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "watchliststandard"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "fullName": {
                        "type": "string",
                        "description": "Allows you to search for non-person entities, such as businesses, aircraft, and ships.\n> **Note**: The following special characters are not supported: ^±!@£$%&*_+¡€#¢§¶•ªº«<>?\\\\/:;|=\n",
                        "example": "Enron"
                      },
                      "watchlistFilters": {
                        "type": "object",
                        "description": "Global Watchlist modules only. Overrides the Global Watchlist filters set on the Admin Dashboard.\n",
                        "properties": {
                          "matchingCriteria": {
                            "type": "object",
                            "properties": {
                              "nameDob": {
                                "type": "boolean",
                                "description": "Overrides the default match criteria settings requiring the consumer's name and date of birth to match.\n",
                                "default": true,
                                "example": true
                              },
                              "nameFuzzinessTolerance": {
                                "type": "number",
                                "description": "Determines the match threshold for the consumer's name. Valid values are any number between 0 and 1 with decimal precision.\nZero (0) is an exact match, while one (1) allows for a broad match.\n",
                                "default": 0.5,
                                "example": 0.5
                              },
                              "dobMatchLogic": {
                                "type": "string",
                                "description": "Overrides the default match criteria settings requiring the date of birth to be within a 1-year radius or exact on YYYY/MM/DD or YYYY\nwhen the date of birth is provided at the following match levels: exact_yyyy_mm_dd, one_year_radius_yyyy_mm_dd, exact_yyyy, one_year_radius_yyyy.\n",
                                "example": "one_year_radius_yyyy"
                              }
                            }
                          },
                          "categories": {
                            "type": "array",
                            "description": "The lists to search.\n\n**sanctions**, **enforcement**, and **pep** are valid for watchlistplus and watchlistpremier.\n**adverseMedia** is valid for watchlistpremier only.\n",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sanctions",
                                "enforcement",
                                "pep",
                                "adverseMedia"
                              ]
                            },
                            "example": [
                              "sanctions",
                              "enforcement"
                            ]
                          },
                          "limit": {
                            "type": "integer",
                            "description": "The maximum number of entities returned with each query. Specify any value between 1-100.\n",
                            "default": 30,
                            "example": 30
                          },
                          "countries": {
                            "description": "The countries from which to pull PEP and adverse media results. Values should be entered in a two-letter ISO 3166-1 alpha-2 format.\n",
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "US",
                              "CA"
                            ]
                          }
                        }
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/nationalId"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      }
                    }
                  },
                  {
                    "title": "Global Watchlist Plus",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "watchlistplus"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "fullName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/15/properties/fullName"
                      },
                      "watchlistFilters": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/15/properties/watchlistFilters"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/nationalId"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      }
                    }
                  },
                  {
                    "title": "Global Watchlist Premier",
                    "type": "object",
                    "required": [
                      "modules",
                      "firstName",
                      "surName"
                    ],
                    "properties": {
                      "modules": {
                        "description": "The name of the ID+ module.",
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "watchlistpremier"
                          ]
                        }
                      },
                      "firstName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/firstName"
                      },
                      "surName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/surName"
                      },
                      "fullName": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/15/properties/fullName"
                      },
                      "watchlistFilters": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/15/properties/watchlistFilters"
                      },
                      "dob": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/dob"
                      },
                      "nationalId": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/nationalId"
                      },
                      "physicalAddress": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/physicalAddress"
                      },
                      "physicalAddress2": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/0/properties/physicalAddress2"
                      },
                      "city": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/city"
                      },
                      "state": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/state"
                      },
                      "zip": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/zip"
                      },
                      "country": {
                        "$ref": "#/paths/~1api~13.0~1EmailAuthScore/post/requestBody/content/application~1json/schema/anyOf/1/properties/country"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "title": "Account Intelligence",
                      "description": "Validates a bank account's status and ownership. Conditional parameters are\nphysicalAddress, city, state, country, zip, nationalId, ein, mobileNumber, dob.\n",
                      "type": "object",
                      "properties": {
                        "referenceId": {
                          "$ref": "#/paths/~1api~11.0~1feedback/post/responses/200/content/application~1json/schema/properties/referenceId"
                        },
                        "accountintelligence": {
                          "description": "Contains the `account` object.",
                          "type": "object",
                          "properties": {
                            "account": {
                              "description": "Contains the `status` and `ownership` results.",
                              "type": "object",
                              "properties": {
                                "status": {
                                  "description": "Results of the bank account status confirmation. Below are the possible values.   \n- `Valid`: The account is open. \n- `Invalid`: The account is closed.\n- `Unknown`: The account status is unknown at this time.              \n",
                                  "type": "string",
                                  "enum": [
                                    "Valid",
                                    "Invalid",
                                    "Unknown"
                                  ]
                                },
                                "ownership": {
                                  "description": "Results of the bank account ownership validation. Below are the possible values. \n- `Match`: The input owner information and account information match the information on file.\n- `No Match`: The input owner information or account information does not match the information on file.\n- `Unknown`: The ownership is unknown at this time.\n",
                                  "type": "string",
                                  "enum": [
                                    "Match",
                                    "No Match",
                                    "Unknown"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Address Risk",
                      "description": "Returns address risk and correlation scores. Conditional parameters are\nphysicalAddress, city, state, zip.\n",
                      "type": "object",
                      "properties": {
                        "referenceId": {
                          "$ref": "#/paths/~1api~11.0~1feedback/post/responses/200/content/application~1json/schema/properties/referenceId"
                        },
                        "addressRisk": {
                          "description": "Contains the address risk score and reason codes.",
                          "type": "object",
                          "properties": {
                            "reasonCodes": {
                              "description": "A list of reason codes for this transaction.",
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": [
                                "I123",
                                "I456"
                              ]
                            },
                            "score": {
                              "description": "Represents the level of risk associated with an address. A higher score indicates a greater likelihood of fraud.",
                              "type": "number",
                              "example": 0.436
                            }
                          }
                        },
                        "nameAddressCorrelation": {
                          "description": "Contains the address correlation value and reason codes.",
                          "type": "object",
                          "properties": {
                            "reasonCodes": {
                              "description": "A list of reason codes for this transaction.",
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": [
                                "I123",
                                "I456",
                                "I789"
                              ]
                            },
                            "score": {
                              "description": "Indicates the strength of the relationship between the address and the consumer's `firstName` and `surName`.",
                              "type": "number",
                              "example": 0.999
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Alert List",
                      "description": "Socure maintains an Alert List of known fraudulent users and specific identifying traits, as reported by Socure and its customers. Submitted data is checked against that list according to variable matching logic and processing. Any potential matching fields are then displayed in the JSON response, along with associated reason codes.\n",
                      "type": "object",
                      "properties": {
                        "referenceId": {
                          "$ref": "#/paths/~1api~11.0~1feedback/post/responses/200/content/application~1json/schema/properties/referenceId"
                        },
                        "alertList": {
                          "type": "object",
                          "properties": {
                            "reasonCodes": {
                              "description": "A list of reason codes for this transaction.",
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "R111"
                              }
                            },
                            "matches": {
                              "type": "array",
                              "items": {
                                "properties": {
                                  "element": {
                                    "example": "ssn"
                                  },
                                  "datasetName": {
                                    "example": "consortium"
                                  },
                                  "reason": {
                                    "example": "Chargeback Fraud"
                                  },
                                  "industryName": {
                                    "example": "E-Commerce"
                                  },
                                  "lastReportedDate": {
                                    "example": "2018-12-20"
                                  },
                                  "reportedCount": {
                                    "type": "string",
                                    "description": "The number of times a PII element, for example, an email address,  has been reported or seen as part of a fraudulent transaction.\n",
                                    "example": "3"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "Decision",
                      "type": "object",
                      "description": "Contains the decision module recommendation.",
                      "properties": {
                        "referenceId": {
                          "$ref": "#/paths/~1api~11.0~1feedback/post/responses/200/content/application~1json/schema/properties/referenceId"
                        },
                        "decision": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "The recommended decision for the transaction.",
                              "enum": [
                                "accept",
                                "review",
                                "resubmit",
                                "refer",
                                "reject"
                              ]
                            },
                            "modelName": {
                              "type": "string",
                              "description": "The name of the logic model used in the decision."
                            },
                            "modelVersion": {
                              "type": "string",
                              "description": "The version of the logic model used in the decision."
                            },
                            "details": {
                              "type": "object",
                              "description": "The triggers that led to the recommended decision for the transaction.\n\n> **Note**: If a module returns an `accept` decision, no other information is shown.\n",
                              "properties": {
                                "alertlist": {
                                  "type": "object",
                                  "description": "Checks an identify against Socure's list of known fraudulent consumers.",
                                  "properties": {
                                    "decision": {
                                      "type": "string",
                                      "description": "The recommended decision for the module."
                                    },
                                    "triggers": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "The reason codes that triggered the decision for the module."
                                    }
                                  }
                                },
                                "addressrisk": {
                                  "type": "object",
                                  "description": "Provides a risk analysis of an address.",
                                  "properties": {
                                    "decision": {
                                      "type": "string",
                                      "description": "The recommended decision for the module."
                                    },
                                    "scores": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      },
                                      "description": "The score that triggered the decision for the module."
                                    },
                                    "triggers": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "The reason codes that triggered the decision for the module."
                                    }
                                  }
                                },
                                "devicerisk": {
                                  "type": "object",
                                  "description": "Provides a risk analysis of a device to identity relationship.",
                                  "properties": {
                                    "decision": {
                                      "type": "string",
                                      "description": "The recommended decision for the module."
                                    },
                                    "triggers": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "The reason codes that triggered the decision for the module."
                                    }
                                  }
                                },
                                "documentverification": {
                                  "type": "object",
                                  "description": "Confirms the authenticity of government-issued identification cards.",
                                  "properties": {
                                    "decision": {
                                      "type": "string",
                                      "description": "The recommended decision for the module."
                                    },
                                    "triggers": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "The reason codes that triggered the decision for the module."
                                    }
                                  }
                                },
                                "fraud": {
                                  "type": "object",
                                  "description": "Indicates the likelihood an identity is fraudulent.",
                                  "properties": {
                                    "decision": {
                                      "type": "string",
                                      "description": "The recommended decision for the module."
                                    },
                                    "scores": {
                                      "type": "array",
                                      "items": {
                                        "type": "number"
                                      },
                                      "description": "The scores that triggered the decision for the module."
                                    },
                                    "triggers": {
[...]
